<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Patryk Pacewicz | UAM</title>
        <link href="/styles/style.css" rel="stylesheet">

        {% if app.debug %}
            <script>
                var require = {
                    baseUrl: "/scripts",
                    paths: {
                        'require':     'vendor/require-2.1.8',
                        'jquery':      'vendor/jquery-1.10.2',
                        'bootstrap':   'vendor/bootstrap-3.0.0',
                        'underscore':  'vendor/underscore-1.5.2',
                        'crossfilter': 'vendor/crossfilter-1.3.7',
                        'd3':          'vendor/d3-3.3.13',
                        'dc':          'vendor/dc-2.0.0',
                        'backbone':    'vendor/backbone-1.1.0'
                    },

                    shim: {
                        bootstrap:   { deps: ["jquery"] },
                        backbone:    { deps: ['underscore', 'jquery'], exports: 'Backbone' },
                        dc:          { deps: ['d3'], exports: 'dc' },
                        crossfilter: { exports: 'crossfilter' },
                        underscore:  { exports: '_' },
                        jquery:      { exports: '$' }
                    }
                };
            </script>
        {% else %}
            <script>var require = { baseUrl: "/scripts" };</script>
        {% endif %}

        <script data-main="app" src="/scripts/vendor/require-2.1.8.js"></script>
    </head>
    <body>
        <header class="navbar navbar-inverse navbar-static-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Patryk Pacewicz | UAM</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('homepage') }}">Patryk Pacewicz | UAM</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="{{ path('secretsharing') }}">Secret Sharing</a></li>
                        <li><a href="{{ path('commitmentscheme') }}">Commitment Scheme</a></li>
                        <li><a href="{{ path('imageprocessing') }}">Image Processing</a></li>
                        <li><a href="{{ path('voting') }}">Electronic Voting</a></li>
                    </ul>
                </div>
            </div>
        </header>
        {{ block('content') }}
    </body>
</html>
