#matrix {
  .row {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .matrix,  .matrix-trans {
    padding: 10px;
    border: 1px #000 solid;
    float: left;
    .rounded-corners;

    .matrix-cell {
      float: left;
      background: #D42;
      margin: 1px;
      cursor: pointer;
      width: 18px;
      height: 18px;

      &:hover {
        background: #D75;
      }

      &.active {
        background: #AF3;

        &:hover {
          background: #AC0;
        }
      }
    }
  }
}