.rounded-corners (@radius: 5px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}

.box-center {
  margin-left: auto;
  margin-right: auto;
}

@import "vendor/bootstrap-3.0.0.less";
@import "error.less";
@import "secretsharing.less";
@import "imageprocessing.less";
@import "electronicvoting.less";