{% extends 'SecretSharing/index.html.twig' %}

{% block processedContent %}
    <div class="container">
        <span class="label label-success">decrypted</span>
        <dl class="dl-horizontal">
            <dt>message</dt> <dd>{{ decrypted.message }}</dd>
            <dt>number</dt> <dd>{{ decrypted.number }}</dd>
        </dl>
    </div>
{% endblock %}
