{% extends 'SecretSharing/index.html.twig' %}

{% block processedContent %}
    <div class="container">
        <span class="label label-success">encrypted</span>
        <dl class="dl-horizontal">
            {% for part in encrypted.data %}
                <dt>Data part #{{ loop.index }}</dt> <dd>{{ part }}</dd>
            {% endfor %}
        </dl>
    </div>
{% endblock %}
