{% extends 'base.html.twig' %}

{% block content %}
    <div class="secretsharing">
        {% block processedContent %}{% endblock %}
        {{ block('encode') }}
        {{ block('decode') }}
    </div>
{% endblock %}

{% block decode %}
    <div class="container">
        <h2>Decode <small>put together all the parts into one</small></h2>
        <form class="form-horizontal" role="form" method="post" action="{{ url('secretsharing:decode') }}">
            {% for i in 1..10 %}
                <div class="form-group">
                    <label class="col-sm-2" for="input-secret{{ i }} control-label">Secret part #{{ i }}</label>
                    <div class="col-sm-10">
                        <input name="secret[]" type="text" class="form-control" id="input-secret{{ i }}" placeholder="Secret part #{{ i }}">
                    </div>
                </div>
            {% endfor %}

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">Decode</button>
                </div>
            </div>
       </form>
    </div>
{% endblock %}

{% block encode %}
    <div class="container">
        <h2>Encode <small>break your secret into few parts</small></h2>
        <form class="form-horizontal" role="form" method="post" action="{{ url('secretsharing:encode') }}">
            <div class="form-group">
                <label class="col-sm-2" for="textarea-content">Content</label>
                <div class="col-sm-10">
                    <textarea name="data" class="form-control" rows="3" id="textarea-content" placeholder="Your super secret data..."></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2" for="select-number">Parts number</label>
                <div class="col-sm-10">
                    <select name="number" class="form-control" id="select-number" >
                        {% for i in 2..10 %}
                            <option>{{ i }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">Encode</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
