{% extends 'base.html.twig' %}

{% block content %}
    <div class="commitmentscheme">
        {% block processedContent %}{% endblock %}
        {{ block('messages') }}
        {{ block('sendForm') }}
    </div>
{% endblock %}

{% block sendForm %}
    <div class="container">
        <h2>Send secret</h2>
        <form class="form-horizontal" role="form" method="post" action="{{ url('commitmentscheme:send') }}">
            <div class="form-group">
                <label class="col-sm-2" for="textarea-content">Content</label>
                <div class="col-sm-10">
                    <textarea name="data" class="form-control" rows="3" id="textarea-content" placeholder="Your super secret data..."></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2" for="password-secret">Secret key</label>
                <div class="col-sm-10">
                    <input name="secret" type="password" class="form-control" id="password-secret" placeholder="Password">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2" for="text-host">Client server address</label>
                <div class="col-sm-10">
                    <input name="host" type="text" class="form-control" id="text-host" placeholder="http://localhost:8882/api">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">Send</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block messages %}
    <div class="container">
        <h2>Commitment Scheme <small>list of all commitments</small></h2>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>#</th>
                    <th>ecodedMessage</th>
                    <th>message</th>
                    <th>key</th>
                </tr>
            </thead>
            <tbody>
                {% for message in messages %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ message.encodedMessage }}</td>
                        <td>{{ message.message }}</td>
                        <td>{{ message.key }}</td>
                        <td>
                            {% if not message.message %}
                                <a href="{{ url('commitmentscheme:getValidate', {'documentId': message.documentId }) }}">
                                    <button type="button" class="btn btn-default btn-xs">
                                        <span class="glyphicon glyphicon-check"></span> Validate
                                    </button>
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}