{% extends 'CommitmentScheme/index.html.twig' %}

{% block processedContent %}
    <div class="container">
        <span class="label label-success">added</span>
        <dl class="dl-horizontal">
            <dt>id</dt> <dd>{{ result.documentId }}</dd>
            <dt>encoded message</dt> <dd>{{ result.encodedMessage }}</dd>
        </dl>
    </div>
{% endblock %}
