{% extends 'base.html.twig' %}

{% block content %}
    <div class="commitmentscheme">
        {{ block('isValid') }}
        {{ block('validate') }}
    </div>
{% endblock %}

{% block isValid %}
    {% if not isValid %}
        <div class="container">
            <span class="label label-danger">invalid</span>
        </div>
    {% endif %}
{% endblock %}

{% block validate %}
    <div class="container">
        <h2>Validate message</h2>
        <form class="form-horizontal" role="form" method="post" action="{{ url('commitmentscheme:validate', {'documentId': document.documentId}) }}">
            <div class="form-group">
                <label class="col-sm-2" for="textarea-content">Content</label>
                <div class="col-sm-10">
                    <textarea name="data" class="form-control" rows="3" id="textarea-content" placeholder="Your super secret data..."></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2" for="password-secret">Secret key</label>
                <div class="col-sm-10">
                    <input name="secret" type="password" class="form-control" id="password-secret" placeholder="Password">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2" for="text-encoded">Encoded data</label>
                <div class="col-sm-10">
                    <input disabled type="text" class="form-control" id="text-encoded" value="{{ document.encodedMessage }}">
                    <input name="encoded" type="hidden" value="{{ document.encodedMessage }}">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">Validate</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
