{% extends 'base.html.twig' %}

{% block content %}
    <div class="container" id="matrix">
        <h2>Image Processing <small>process image matrix</small></h2>
        {{ block('matrixTrans') }}
        {{ block('matrix') }}
    </div>
{% endblock %}

{% block matrixTrans %}
    <div class="row">
        <div class="col-xs-12 col-md-8">
            <div class="matrix-trans">
                {{ _self.drawMatrix(3, 3) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block matrix %}
    <div class="row">
        <div class="col-xs-12 col-md-8">
            <div class="matrix">
                {{ _self.drawMatrix(15, 10) }}
                {{ block('buttons') }}
            </div>
        </div>
    </div>
{% endblock %}

{% block buttons %}
    <div class="text-center">
        <div class="btn-group btn-group-sm processing-buttons">
            <a type="button" class="btn btn-primary active" href="#" data-type="draw">
                <span class="glyphicon glyphicon-edit"></span> Draw
            </a>
            <a type="button" class="btn btn-primary" href="#" data-type="fill">
                <span class="glyphicon glyphicon-adjust"></span> Fill
            </a>
        </div>
    </div>
{% endblock %}

{% macro drawMatrix(x, y) %}
    {% for i in 0..y-1 %}
        <div class="matrix-row">
            {% for j in 0..x-1 %}
                <div class="matrix-cell" data-x="{{ j }}" data-y="{{ i }}"> </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endmacro %}