{% extends 'base.html.twig' %}

{% block content %}
    <div class="electronicvoting">
        {{ block('vote') }}
        {{ block('pieChart') }}
    </div>
{% endblock %}

{% block pieChart %}
    <div class="container">
        <div class="box-center" id="electronicvoting-pie" data-chart='{{ pieData|json_encode|raw }}'></div>
    </div>
{% endblock %}

{% block vote %}
    <div class="container">
        <h2>Vote <small>vote for your president</small></h2>
        <form class="form-horizontal" role="form" method="post" action="{{ path('voting:vote') }}">
            <div class="form-group">
                <label class="col-sm-2" for="select-vote">President</label>
                <div class="col-sm-10">
                    <select name="option" class="form-control" id="select-vote" >
                        {% for key, value in voteOptions %}
                            <option value="{{ key }}">{{ value }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2" for="vote-sign">Sign</label>
                <div class="col-sm-10">
                    <input name="sign" type="text" class="form-control" id="vote-sign" placeholder="Sign">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">Vote</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
